<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body >
    <!-- <nav>
        <h2><a href="/">Lego Collection</a></h2>
        <a href="/about">About</a>
        
    </nav> -->
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
      </div>
    
      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <!-- <li><a>Theme 1</a></li>
                <li><a>Theme 2</a></li>
                <li><a>Theme 2</a></li> -->
                <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="/lego/sets?theme=Creator">Creator</a></li>
                <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>  

      
    <div class="container mx-auto">

      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div>
            <h1 class="text-5xl font-bold">Best Lego Collection!</h1>
            <p class="py-6">A Lego collection is a curated assortment of Lego sets and pieces, often built around a specific theme or personal preferences, representing a diverse range of creative possibilities. </p>
            <a href="/lego/sets" class="btn btn-primary">Get Started</a>

          </div>
        </div>
      </div>


      <!-- <div class="container mx-auto"> -->
        <div class="grid grid-cols-3 p-auto">
          <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"> -->
          <div class="">
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="legoset" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Gears</h2>
                <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>
                <div class="card-actions justify-end">
                  <a href="/lego/sets/001-1" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0016-1.jpg" alt="legoset" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Castle Mini Figures</h2>
                <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>

                <div class="card-actions justify-end">
                  <a href="/lego/sets/0016-1" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0011-3.jpg" alt="legoset" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Castle 2 for 1 Bonus Offer</h2>
                <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>

                <div class="card-actions justify-end">
                  <a href="/lego/sets/0011-3" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</body>

</html>